<a href="https://colab.research.google.com/github/Almrg/Practica/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pedir un numero y imprimimos tabla de multiplicar de ese numero Elaborado por Alma Eufemia Ramirez Gomez 23/08/22

In [3]:
i= int(input("Escribe un numero de 1 al 10"))
for n in range(1, 11):
  print(n,"1X ",i,"=",n*i)

Escribe un numero de 1 al 102
1 1X  2 = 2
2 1X  2 = 4
3 1X  2 = 6
4 1X  2 = 8
5 1X  2 = 10
6 1X  2 = 12
7 1X  2 = 14
8 1X  2 = 16
9 1X  2 = 18
10 1X  2 = 20